* {
  box-sizing: border-box;
}

.global-header {
  height: 1500px;
  display: flex;
  justify-content: center;
  background-color: grey;
}

.header-bg {
  flex: 5;
  height: 700px;
}

.header-bg.f-img {
  background-image: url('../../public/psbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -340px;
}

.header-bg.s-img {
  background-image: url('../../public/nintendobackground.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-bg.s-img.next-img {
  background-image: url('../../public/mobilenavbgi.jpg');
  background-size: contain;
  height: 500px;
  transform: translate(0, -50px);
}

.header-bg.t-img {
  background-image: url('../../public/steambackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-bg.on:first-child,
.header-bg.on:last-child {
  display: none;
}

.global-nav {
  position: absolute;
  top: 50px;
  display: flex;
  left: 0;
  right: 0;
  width: 0;
  height: 0px;
  justify-content: space-around;
  background-color: white;
  color: rgb(31, 31, 31);
  transition: width 1s, height 1s;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
}

.global-nav.show {
  height: 80px;
  width: 65%;
}

.global-nav.on {
  background-color: rgb(0, 0, 0);
  color: rgb(228, 228, 228);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: none;
}

.react-logo {
  display: flex;
  align-items: center;
  margin: 0;
}


.react-logo img {
  display: block;
  width: 100px;
  height: 0;
  opacity: .9;
  transition: height 1s;
}

.react-logo img.show {height: 55px;}

.nav-list {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav-list.show {opacity: 1;}

.nav-op {
  right: 0;
  margin-right: 40px;
}

.nav-list li {
  line-height: 80px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 600;
}

.nav-list li:first-child {margin-left: 0;}

/*******************************************************/

.game-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.game-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  font-size: 18px;
  font-style: italic;
  z-index: 1;
}

.game-btn{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.game-img{
  width: 28%;
  height: 550px;
  display: flex;
  margin: 70px 50px 100px 40px;
  object-fit: cover;
  border-radius: 15px;
  transform: scale(0.9);
  transition: transform 0.5s ;
  transform-origin: center;
  transition: all 300ms ease-in-out;
  border: 5px solid transparent;
}
.game-img:hover {box-shadow: 0 0 0 3px #0070D1;}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.icon-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  font-size: 18px;
  font-style: italic;
}


.icon-prev,
.icon-next {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.player-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.react-player{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-player video {
  animation: fadeInRight 1s;
}
@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translate3d(50%, 0, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

.video-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 19%;
  height: 55%;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeInUp 1s;
}

.video-text h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 40px;
}

.video-text p {
  margin-top: 30px;
  font-size: 22px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.hide-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-img{
  width: 15%;
  height: 220px;
  margin-top: 30px;
  margin-bottom: 50px;
  object-fit: cover;
  border-radius: 30px; 
  transition: all 300ms ease-in-out;
  border: 5px solid transparent;
}

.hide-img:hover {
  box-shadow: 0 0 0 3px #0070D1;
}

.hide-pre{
  margin-left: 40px;
  cursor: pointer;
  font-size: 25px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}
.hide-pre:hover,
.hide-nex:hover {
  background-color: #000;
  color: #fff;
}

.hide-nex{ 
  cursor: pointer;
  margin-right: 40px;
  font-size: 25px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}


.game-intr{
  width: 100%;
  position: relative;
}

.game-bg{
  width: 100%;
  height: 800px;
  background-image: url(./백그라운드.webp);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.kratos{
  width: 30%;
  height: 80%;
}


.atr{
  width: 30%;
  height: 80%;
  margin-left: 80px;
}
.game-txt{
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 47%;
}

.game-pre{
  position: absolute;
  left: 30px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 20px;
  font-size: 25px;
}

.game-pre:hover,
.game-next:hover {
  background-color: #000;
  color: #fff;
}


.game-next{
  position: absolute;
  right: 23px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 20px;
  font-size: 25px;
}

.hide-game-wapper{
  width: 100%;
  height: 900px;
  background-image: url(./백그라운드.webp);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hide-game-img{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-40%);
  width: 35%;
  height: 90%;
}

.hide-game-text{
  position: absolute;
  top: 20%;
  right: 20px;
  width: 40%;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hide-game-text img {
  width: 67%;
  height: 200px;
  animation: fadeInRight 1s;
}

.text-main{
  font-size: 50px;
}

.faxMark{
  position: absolute;
  top: -140px;
  right: 0;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.text-sub{
  margin-top: -10px;
  font-size: 20px;
}

.modal-icon{
  position: absolute;
  top: 70%;
  right: 95%;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
.modal-icon:hover {
  background-color: #000;
  color: #fff;
}
.modal-icon1 {
  position: absolute;
  top: 70%;
  right: 150px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
.modal-icon1:hover {
  background-color: #000;
  color: #fff;
}

.last-bg{
  position: relative;
  width: 100%;
  height: 700px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(./라스트오브어스\ 백그라운드.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;

}
.last-bg img {
  width: 100%;
  height: 500px;
}
.last-text{
  position: absolute;
  top: 25%;
  right: 5%;
  width: 40%;
  font-style: italic;
  color: #fff;
  font-size: 18px;
}

.last-text1{
  position: absolute;
  top: 40%;
  right: 5%;
  width: 40%;
  color: #fff;
  font-size: 18px;
}

.last-text2{
  position: absolute;
  top: 60%;
  right: 5%;
  width: 40%;
  color: #fff;
  font-size: 18px;
}

.last-card-warpper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.last-card{
  width: 200px;
  height: 250px;
  perspective: 1100px;
  margin: 0 50px 50px 50px;
}

.card{
  width: 100%;
  height: 100%;
  position: relative;
  transition: .8s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: none;
  border-radius: 15px;
}

.front {
  background-image: url(./라스트오브어스\ 로고.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {transform: rotateY(180deg);}

.back img{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}

.last-card:hover .card {transform: rotateY(180deg) scale(1.4);}

.front{
  line-height: 250px;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
}